@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&display=swap');

/*///// General configs/////*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: #665B5F
    
    
}

/*/////Header configs/////*/

a{
    text-decoration: none;
    color: #EA8AB0;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    
}

a:hover{
    color: #E6CCD6;
    transition: 0.7s;
    
}
#header strong{
  font-size:6rem;
  color:#E6CCD6;
  font-family: 'Amatic SC', cursive;
}



#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    background-image:linear-gradient(to right,#663C4D, #ac729a);
    font-size: 28px;
    overflow: hidden;
    height: 15vh;
    border-bottom: 3px solid white;
    position: fixed;
    width: 100%;
    z-index: 2000;
    box-shadow: 5px 2px 20px #665B5F;
    
    


}

#logo{
    font-size:5rem;
    font-weight: bolder;
    color: #EA8AB0;
    display: block;
    padding: 1rem;
    transition: 0.7s;
}
#logo:hover{
   color: #E6CCD6;
     
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
    font-size: 2rem;
    font-weight: bold;

}

#menu a{
    display: block;
    padding: 1rem;
    
}

#btn-mobile{
    display: none;
}

/*/////Main configs/////*/

h1{
    font-size: 2.5rem;
    align-items:center;

}

h2{
    text-align: center;
}


/*/////First section/////*/
#home {
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 100px;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap-reverse;
    background-color: #E6CCD6;
    

}

.container-text{
      width: 40%;
      text-align: left;
      margin-left: 5%;
      font-size: 2rem;
      font-weight: 400;
      min-width: 250px;
      margin-top: 100px;
  }
   
      

.container-gallery{
    width: 40%;
    min-width: 300px;
    margin-right: 5%;
    align-items: center;
    margin-top: 100px;    
}

/*/////Second Section/////*/
#about{
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #E6CCD6; 
    text-align: justify;
    padding-top: 10px;
    

}
#about .container-text{
    width: 70%;
    text-align: justify;
    font-size: 2rem;
    font-weight: 400;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: -5vh;
    
}
#about h1{
    text-align: center;
}

/*/////Third Section/////*/
#adoption{
    padding-top: 10vh;
    width: 100%;
    height: 220vh;
    flex-wrap: wrap;
    background-color: #E6CCD6;
    
    
}

#adoption .container-text-1, .container-text-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
#adoption h1{
    text-align: center;
}

#contact{
    display: block;
    background-color: #E6CCD6;
    height: 120vh;
    padding-top: 10vh;
    
    
}
#contact .container-text{
    display: block;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    height: 20vh;
    

}
#contact h1{
    text-align: center;
    padding-bottom: -200px;
    
    
}
fieldset{
    
    border: none;
    justify-content: center;
    display: flex;
    
}
form{
    background-color: #663C4D;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #665B5F;
    
}


.field input[type="email"],.field input[type="tel"], .field input[type="text"], textarea {

    width: 15rem;
    padding: 10px;
    border: 1px rgb(202, 200, 200) solid; 
    border-spacing: 5px;
    border-radius: 5px; 
    display:block;
    outline: none;
    align-self: center;
    font-size: 1rem; 
    
    
}

.send{
    text-align: center;  
}
.submit{
    background-color:#E6CCD6;
    width: 50%;
    height: 50%;
    border: none;
    text-align: center;
    color:#663C4D;
    border-radius: 5px;  
    
}

.submit:hover{
    background-color: #663C4D;
    color: #ac729a;
}



/*/////Responsible configs/////*/

@media (max-width: 1200px) {
    *{
        font-size: 0.7rem;
        
        
    }
    #btn-mobile {
        display: block;
    }  
    #header{
        position:fixed;
        z-index: 1000;
        margin-top: -103px;
    }
    #menu {
        display: block;
        position:fixed;
        width: 100%;
        top: 119px;
        right: 0px;
        background-color: rgba(182, 136, 136);
        height: 0px;
        z-index: 2000;
        text-align: right;
        transition: 0.7s;
        visibility: hidden;
        overflow-y: hidden;
        font-weight: bolder;
        
        
    } 

    #nav.active #menu {
        height: 100vh;
        transition: 0.5s;
        visibility: visible;
        
        
    }

    #logo{
    font-size: 3rem;
    }
    p, h2{
        font-size: 1.7rem;
        
    }
    b{
        font-size: 2rem;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;

    }
    a{
        color: #663C4D;
        font-size: 3rem;

    }
    a:hover {
        color: #EA8AB0;
    }
    #home{
        margin-top: 100px;
        
    }
    .container-text{
        width: 40%;
        margin-right: 5%;
        align-items: center;
        margin-top: -200px;    
    }
    .container-gallery{
        width: 40%;
        margin-right: 5%;
        align-items: center;
        margin-top: -20px;    
    }
    #about{
        height: 280vh;
        padding-top: 300px;
    }
    #adoption{
        height: 360vh;
        
        
    }
    .container-text-1{
        
        padding-top: 20vh;
        padding-bottom: 20vh;
    }
    

    #contact{
        height: 100vh;
        
    }
    #contact form{
    margin-top: 40vh;
    background-color: #c794a8;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #665B5F;
    width: 100%;
    }
    .field input[type="email"],.field input[type="tel"], .field input[type="text"], textarea {

    width: 15rem;
    padding: 10px;
    border: 1px rgb(202, 200, 200) solid; 
    border-spacing: 5px;
    border-radius: 5px; 
    display:block;
    outline: none;
    align-self: center;
    font-size: 1rem; 
    
    
}
    
}
.submit{
    height: 40px;
    width: 80px;

}
    

/*/////End of responsible configs/////*/

/*/////Footer configs//////*/

footer{
    background-color: #663C4D;
    height: 100px;
    color:#EA8AB0 ;
    text-align: center;
    position:sticky;
    font-size: 1rem;
    
}

footer p{
    padding-top: 20px;
    font-size: 1rem;
}

  /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
    
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    
    
  }
  
      
  
/* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

